
.my-music-component-header {
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
    color: #575859;
    padding: 1%;
    margin-right: 2%;
}

.my-music-recently-played {
    margin-left: 30px;
    margin-right: 30px;
    // margin-top: 10px;
    margin-bottom: 60px;
//    h1 {
//        margin
//    }
    ul {
       box-sizing: border-box;
   }
}