// Place all the styles related to the api/Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.album-show-header {
    color: #575859;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24px;
}