// Place all the styles related to the api/RecentPlays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .recent-display-container {
//     // ul{
//   list-style: none;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: -moz-flex;
//   display: -ms-flex;
//   display: flex;
//   /* flex-flow is shorthand for flex-direction and flex-wrap */
//   -webkit-flex-flow: row wrap;
//   -moz-flex-flow: row wrap;
//   -ms-flex-flow: row wrap;
//   flex-flow: row wrap;
//   position:relative;
//   width: 100vw;
//   transform: translateX(-10px)
// }
.recent-display-container li {
    min-width: 250px;
  margin-bottom: 20px;
  overflow:hidden;
}
.recent-display-container li:hover {
    max-width: 150px;
  margin-bottom: 20px;
//   overflow: visible;
}
.recent-display-container {
  display: flex;
  align-content: center;
  position:relative;
  max-width: 100vw;
  overflow: hidden;
  margin-left: 10px;
  
}
.Recent-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding: 50%;
  margin-bottom: 10%;
    // box-sizing: border-box;
    background-size:cover;
    // background: cover;
    // border: 5px solid #575859;
    // margin: 6%;
    // padding-top: 100%;
    // margin-bottom: 0;
    
    // height:0px;
    // height: 100%;
    background-size: cover;
    background: lightcyan;
    z-index: 0;
    min-width:270px;
    min-height: 250px;
    // overflow: hidden;

}
// .Recent-item:hover{}

// .Recent-item:last-child {
//     overflow: visible;
   
// }

.recent-item-top-level{
    // overflow: hidden;
    // width: 260px;
    // height: 260px;
    // position: absolute;
    h1 {
      display: none;
    }

}

.recent-component {
    // position: relative;
    // width: 100%;
    // height: 30%;
    width: inherit;
    margin-left: 30px;
    margin-right: 20px;
   
    
}

#carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 280px;
  align-items: center;
  overflow: hidden;
  // top: 50%;
  // transform: translateY(-50%);
  // overflow: hidden;
  // width: 200px;
  // height: 100px;

  div {
    // position: absolute;
    // transition: transform 1s, top 1s left 1s, opacity 1s, z-index 0s;
    // opacity: 1;
    width: 300px;
    transition: width .2s height 0s;
  }
      .hideLeft {
        z-index: 3;
        width: 150px;
        height: 250px;
        transition: width .5s, height 0s, z-index 0s ;
        overflow: hidden;
  
      }
  
      .hideRight {
        // opacity: .6;
  
        // left: 100%;
        // opacity: 0;
        // transform: translateY(50%) translateX(-50%);
        z-index: 3;
        width: 150px;
        height: 250px;
        transition: width .5s height 0s, z-index 0s ;
        overflow: hidden;
  
      }
  .prev {
    // opacity: .8;
    // position: absolute;
    z-index: 5;
    // left: 30%;
    // transform: translateY(50px) translateX(-50%);
    width: 230px;
    height: 250px;

    transition: width .5s height 0s, z-index 0s ;
    overflow: hidden;

  }
  .prevLeftSecond{
        z-index: 4;
        // left: 15%;
        // transform: translateY(50%) translateX(-50%);
        // opacity: .7;
        width: 180px;
        height: 250px;

        transition: width .5s, height 0s, z-index 0s ;
        overflow: hidden;
      }
   .selected-car{
      // position: absolute;
      z-index: 10;
      width: 300px;
      height: 280px;
      overflow: visible;
      // left: 50%;
      // transform: translateY(0px) translateX(-50%);
        transition: width 1s height 0s, z-index 0s ;
    }
    .nextSecondRight{
      // opacity: .7;
      overflow: hidden;
      z-index: 4;
      // left: 85%;
      // transform: translateY(50%) translateX(-50%);
      // opacity: .7;
      width: 180px;
      height: 250px;

        transition: width .5s, height 0s, z-index 0s ;

      
  }
  .next{
      // opacity: .8;
      overflow: hidden;
      // position: absolute;
      transition: width .5s height 0s, z-index 0s ;
      z-index: 5;
      // left: 70%;
      // transform: translateY(50px) translateX(-50%);
      width: 230px;
      height: 250px;


    }
}
.recent-item-top-level:hover {
    // -webkit-transition: overflow(visible) .1s ease;
    // overflow:visible 
     overflow:visible;
    padding-bottom:2%;
    position: relative;
    .Recent-item {
    filter: brightness(100%);
    -webkit-filter: brightness(80%);
    transition: brightness .5s ease;
    // -webkit-transition: all .5s ease;
    // -moz-transition: all 1s ease;
    // -o-transition: all 1s ease;
    // -ms-transition: all 1s ease;
    // transition: all 1s ease;
    z-index: 0;
    // overflow:visible
    // min-width: 
    
}
    .play {
      font-size: 40px;
      color: white;
      filter: brightness(100%);
      -webkit-filter: brightness(100%);
      opacity: 1;
      position: absolute;
      border: none;
      background: transparent;
      bottom: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
 }
 h1 {
      display: block;
      color: white;
      position: absolute;
      bottom: 20%;
      left: 35%;
      font-family: 'Didact Gothic', sans-serif;
      font-size: 14px;
      filter: brightness(100%);
      -webkit-filter: brightness(100%);
    }
}
.recent-component {
    width: inherit;
    height: inherit;
    margin-left: 30px;
    margin-right: 20px;
    
}