.playlist-show-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlist-show-left {
    margin-left: 10%;
    margin-top: 5%;
    width: 60%;
    height: 50vh;
    background: #575859;
    flex: left;
}

.playlist-show-right {
    width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    flex: right;
    align-items: center;
}
.playlist-header {
    h1 {
        color: #575859;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 24px;
    }
    h3 {
        color: #575859;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 14px;
    }
    input {
        padding: 3px;
        font-size: 30px;
        height: 60px;
        width: 200px;
        font-family: 'Didact Gothic', sans-serif;

        outline: none;
        border: none;
    }
    input:hover {
        background: #edeeef;
    }
    
    
}
.white-icon {
    padding-left:10px;
    color: white;
}
.white-icon:hover {
    color: black;
}
.header-hover:hover {
    background: #edeeef;
    color: black;
    .white-icon {
        color: black;
    }
}
.spans {
    width: 50%
}

