.PlayBar {
    padding: 10px;
    width: 100vw;
    position: fixed;
    bottom:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    border-top: .5px solid white;
}
.playbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
        width: 30px;
        height: 30px;
    }
}
.playbar-left-info {
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    h2 {
        font-family: 'Didact Gothic', sans-serif;
        color: white;
        font-size: 12px;
        letter-spacing: 0.05em;
        font-weight: 200;
    }
    h2:hover {

    }
    
};
.playbar-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 45%;
    .icon {
        font-size: 22px;
        color: white;
        margin-left: 10px;
        margin-right: 14px;
    }
    .icon:first {
        // padding-right: 2px;
    }
    
}
.playbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 30px;
    color: white;
    align-items: center;
    h3 {
        font-weight: 200;
        font-size: 12px;
        font-family: 'Didact Gothic', sans-serif;
        color: white;
        padding: 10px;
    }
    .icon {
        margin-left: 10px;
        margin-right: 13px;
        font-size: 22px;
        font-family: 'Didact Gothic', sans-serif;
        color: white;
    }
}
.volume {
    display: flex;
    flex-direction: row;
}