.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
        box-sizing: border-box;
        // margin: 30px;
        text-align: left;
        width: 100%;
        // width: 50%;
        // padding-bottom: 3%;
        border-bottom: 1px solid #d6d7d8;
        margin-right: 0px;
        position: relative;
    }
}
.search-header {
    // width: 50%;
    // position: absolute;
    // left: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    button {
        border: none;
        outline: none;
    }
    
}
.search-link {
    border: 0px;
}
.search-result-title {
    margin: 10px;
    text-decoration: none;
    font-weight: 900;
    color: #575859;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    padding: 1%;
    
}
.search-result-container {
    position: relative;
}
.search-result-type {
    margin: 10px;
    text-decoration: none;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    font-family: 'Didact Gothic', sans-serif;
    font-size: 11px;
    padding: 1%;
}
.search-result-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 20px;
    // padding-bottom: 3%;
    box-sizing: border-box;
    margin-right: 0px;
    button {
        background: none;
        border: none;
        font-size: 30px;
        outline: none;
    }
    z-index: 0;
}
.search-result-item:hover {
    background: #edeeef;
   
}

.search-results {
    width: 60%;

}

.search-lis {
    width: 60%;
}
.hide {
    display: none;
    z-index: -1;
}
.search-result-dropdown {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 1px lightgray;;
    position: absolute;
    right: 190px;
    top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Didact Gothic', sans-serif;
    background: white;
    right: 5px;
    top: 60px;
    z-index: 1;
    button {
        font-size: 14px;
        font-family: 'Didact Gothic', sans-serif;
        text-align: left;
        padding: 5px;
        border: none;
        outline: none;
    }
    button:hover {
        background: #edeeef;
    }
}
.playlist-button {
    position: relative;
}
.hidePlDD {
    display: none;
} 
.showPlDD {
    display: flex;
    flex-direction: column;
    background: pink;
    position: absolute;
    top: 5px;
    left: -150px;
    width: 150px;

}
.artist-tiny {
    width: 50px;
    height: 50px;
}
.search-result-left {
  display: flex;
  flex-direction: row;
}
.icon {
    padding-right: 10px;
}