.search-header {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    button {
        border: none;
    }
    
}
.search-link {
    border: 0px;
}