

.track-display-container {
    // ul{
  list-style: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  /* flex-flow is shorthand for flex-direction and flex-wrap */
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position:relative;
  width: 100vw;
}
.track-display-container li {
  margin-bottom: 20px;
}


@media only screen and (min-width:30em) {
  li {
    width:48%;
    margin: 2%; /* Two columns : 48+48=96 + 4 margins of 1%= 4%  */
    // height:48%; /* Two columns : 48+48=96 + 4 margins of 1%= 4%  */
  }
}

@media only screen and (min-width:40em) {
  li {
    width:31%;
    // height: auto;
    // height:31%;
  }
}

@media only screen and (min-width:50em) {
  li {
    width:25%;
    // height:23%;
  }
}

@media only screen and (min-width:65em) {
  
  li {
    width:20%;
    // height: auto;
    // height:18%;
  }
}

@media only screen and (min-width:80em) {
  li {
    width: 16%;
    // margin: 2%;
    // 14*6, 6*2
    height: auto;
    // height: 14%;
  }
}

.Track-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
    padding: 40%;
    margin-bottom: 10%;
    box-sizing: border-box;
    background-size:cover;
    // background: cover;
    // border: 5px solid #575859;
    margin: 6%;
    // padding-top: 100%;
    margin-bottom: 0;
    
    height:0px;
    height: 100%;
    background-size: cover;
    background: lightcyan;
    z-index: 0;

}
.Track-item:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(50%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 0;
    
}
.more {
      color: white;
      filter: brightness(100%);
      -webkit-filter: brightness(100%);
      opacity: 1;
      position: absolute;
      bottom: 20%;
      left: 40%;
      // mix-blend-mode: difference;
      // z-index: 3;
}

      
.play {
        font-size: 40px;
        color: transparent;
      filter: brightness(100%);
      -webkit-filter: brightness(100%);
      opacity: 1;
      position: absolute;
      border: none;
      background: transparent;
      bottom: 50%;
      left: 40%;
      margin: 0;
      padding: 0;
 }


.Tracks-component {
  margin-left: 30px;
}
// .track-image {
//   height: 50px;
//   width: auto;
// }
.delete-button {
  outline: none;
  border: none;
  color: #575859;
  cursor: pointer;
}
.delete-button:hover{
  color:red;
}

